verifyI# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.DS_Store
.*.swp
*/.ipynb_checkpoints/*
*_trial_temp

# Project files
.ropeproject
.project
.pydevproject
.settings

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_build/*
cover/*
MANIFEST

tests/state/
state/
tests/core/known_data/testcase1/wallet.dat
tests/core/known_data/testcase1/wallet.info
/examples/nodejs/node_modules/
tests/core/_trial_temp/_trial_marker
tests/services/_trial_temp/_trial_marker
tests/core/_trial_temp\.lock
venv/
/.pytest_cache/
/.coverage.*
.idea/
\.idea/workspace\.xml
\.idea/modules\.xml
\.idea/misc\.xml
\.idea/vcs\.xml
\.idea/libraries/R_User_Library\.xml

\.idea/QRL\.iml

\.idea/dictionaries/
