# Fixing sphinx version due to https://github.com/sphinx-doc/sphinx/issues/3976
sphinx
sphinx_rtd_theme>=0.2.4
recommonmark>=0.4.0
alabaster<0.8,>=0.7
snowballstemmer>=1.1
commonmark<=0.5.4
jinja2
imagesize
pytest-cov
pytest
mock>=1.0.0
flake8
timeout-decorator
nose