# Fixing sphinx version due to https://github.com/sphinx-doc/sphinx/issues/3976
leveldb==0.20
ntplib>=0.3.3
Twisted>=17.5.0
colorlog>=3.0.1
simplejson>=3.11.1
PyYAML==3.12
grpcio-tools>=1.9.0,<=1.10.0
grpcio>=1.9.0,<=1.10.0
service_identity
protobuf
pyopenssl>=17.3.0
six>=1.9
click==6.7
pyqrllib>=0.5.1,<0.6.0
pyqryptonight>=0.6.0, <0.7.0
