# Fixing sphinx version due to https://github.com/sphinx-doc/sphinx/issues/3976
setuptools==39.0.1
leveldb==0.20
ntplib==0.3.3
Twisted==19.2.1
colorlog==3.1.0
simplejson==3.11.1
PyYAML==5.1
grpcio-tools>=1.9.0,<=1.10.0
grpcio>=1.9.0,<=1.10.0
service_identity==17.0.0
protobuf==3.5.2
pyopenssl==17.5.0
six==1.11
click==6.7
pyqrllib>=0.99.3,<1.1.0
pyqryptonight>=0.99.3,<1.1.0
Flask==0.12.3
json-rpc==1.10.8
cryptography==2.3
mock==2.0.0
daemonize==2.4.7
