# Add requirements only needed for your unittests and during development here.
# They will be installed automatically when running `python setup.py test`.
# ATTENTION: Don't remove pytest-cov and pytest as they are needed.
pytest==3.6
pytest-cov==2.5.1
pytest-xdist==1.22.2
flake8==3.5.0
autoflake==1.1
timeout-decorator==0.4.0
nose==1.3.7
